body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(245, 245, 250);
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    
}
h1{
    font-family: 'Raleway', sans-serif;
    font-weight:100;
    margin: 0px;
    font-size: 50px;
    display: inline
}
p{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 0px;
    font-size: 35px;
    display: inline;
    line-height: 140%;
    
}
a:link, a:visited {
    text-decoration: none;
    color: #D7D9E2;
    
}
a:hover{
    text-decoration: none;
    color: #f7e400;
}
#header{
    height: 50px;
    
}
#firstPage{
    margin: 0px;
    height: 100vh;
    background-image: url("bg1.jpg");
    background-size: cover;
}
#secondPage{
    height: 100vh;
    background-color: #0f0f0f;
    width: 100vw;
    border-top: solid;
    border-color: #f7e400;
    color: #f7e400;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    
}
#thirdPage{
    height: 100vh;
    background-color: #0f0f0f;
    width: 100vw;
    border-top: solid;
    border-color: #f7e400;
    color: #f7e400;
}
#menu{
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    width: 190px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    line-height: 180%;    
}
.infoBox{
    border-color: #f7e400;
    color: #D7D9E2;
    padding-left: 5px;
    border-style: solid;
}
.boxL{
    margin-left: -50vw;
    max-width: 500px;
    align-self: flex-start;
    border-left: none;
}
.boxR{
    margin-right: -50vw;
    max-width: 360px;
    border-right: none;
    align-self: flex-end;
}

.title{
    max-width: 360px;
    margin-left: -500px;
    margin-top: 45vh;
}


#home{
    font-size: 61.2px;
    margin-left: -6.9px;
    margin-bottom: -2.3px;
}
#about{
    font-size: 51.9px;
    margin-top: -6px;
    margin-bottom: -6px;
    
}
#portfolio{
    margin-top: -14px;
    font-size: 32.3px;
    margin-left: -3.5px;
}
.menuHR{
    width: 190px;
    height: 3.5px;
    background-color: #f7e400;
    margin: 2px 0px;
    border: 0px;
}
.menuHR:hover{
    color: blue;
}



    /** MEDIA QUERIES ***/

    @media only screen and (max-width: 1080px){


    }

    @media only screen and (max-width: 800px){
        #firstPage{
            background-image: url("bg1m.png");
   
        }
        h1{ 
            font-size: 10vw;
        }p{
            font-size: 6vw;
        }
        .title{
            max-width: 85vw;
            height: 54vw;
            background-color: rgba(0, 0, 0, 0.3);
            
        }
        .boxL{
            max-width: 85vw;
            
            
        }
        .boxR{ 
            max-width: 85vw;
            
            
        }
        #secondPage{
            height: 150vh;            
        }

    }

    @media only screen and (max-width: 500px) {
     

 

     
   
        }